name: Deploy HotFix Branch

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  get-version:
    if: startsWith(github.head_ref, 'hotfix/')
    uses: ./.github/workflows/step-version.yml
  
  build:
    needs: [get-version]
    uses: ./.github/workflows/step-build.yml
    secrets: inherit
    with:
      version: ${{ needs.get-version.outputs.version }}
      checkout-ref: ${{ github.head_ref }}
    
  update-metadata:
    if: github.event.action == 'opened'
    needs: [get-version]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: ${{ github.head_ref }}
      - name: Increment Version
        id: increment_version
        run: |
          echo "patch_version=$(($(cat semver.json | jq -r '.patch')+1))" > $GITHUB_OUTPUT
      - name: Store New Version
        uses: Afterlife-Guide/SemVer.Action@23e59d321ba2dbb6736fd78076f9b279fecbeaf2
        with:
          path: semver.json
          major-version: ${{ needs.get-version.outputs.major }}
          minor-version: ${{ needs.get-version.outputs.minor }}
          patch-version: ${{ steps.increment_version.outputs.patch_version }}
          build-version: ${{ github.run_number }}
      - name: Update changelog
        uses: baynezy/ChangeLogger.Action@1e22c0074e1cec3c97ca3416db7ab79924310492
        with:
          tag: ${{ needs.get-version.outputs.major }}.${{ needs.get-version.outputs.minor }}.${{ steps.increment_version.outputs.patch_version }}.${{ github.run_number }}
          
      - name: Update docker image tag version in action.yml
        run: |
          sed -i "s/image: 'docker:\/\/ghcr.io\/afterlife-guide\/semver.action:.*/image: 'docker:\/\/ghcr.io\/afterlife-guide\/semver.action:${{ needs.get-version.outputs.major }}.${{ needs.get-version.outputs.minor }}.${{ steps.increment_version.outputs.patch_version }}.${{ github.run_number }}'/" action.yml
          
      - name: Commit Changes
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "no-reply@after-life.co"
          git add CHANGELOG.md semver.json action.yml
          git commit --message "Bump Version to ${{ needs.get-version.outputs.major }}.${{ needs.get-version.outputs.minor }}.${{ steps.increment_version.outputs.patch_version }}.${{ github.run_number }}"

      - name: Push Version
        env:
          HEAD_REF: ${{ github.head_ref }}
        run: git push origin "$HEAD_REF"