name: Deploy HotFix Branch

on:
  push:
    branches:
      - hotfix/**
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  get-version:
    uses: ./.github/workflows/step-version.yml
  
  build:
    needs: [get-version]
    uses: ./.github/workflows/step-build.yml
    secrets: inherit
    with:
      version: ${{ needs.get-version.outputs.version }}
      checkout-ref: ${{ github.head_ref }}