name: Deploy Release Branch

on:
  push:
    branches:
      - release/**
    paths:
      - 'src/**'
      - 'test/**'
      - '**.sln'
      - '**.cake'
      - '.github/workflows/branch-release.yml'
      - '.github/workflows/step-*.yml'
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  get-version:
    uses: ./.github/workflows/step-version.yml
  
  build:
    needs: [get-version]
    uses: ./.github/workflows/step-build.yml
    secrets: inherit
    with:
      version: ${{ needs.get-version.outputs.version }}
      checkout-ref: ${{ github.head_ref }}